*{
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  
}
:root{
  background: url("https://img2.akspic.ru/crops/8/2/1/6/7/176128/176128-atmosfera-purpur-fioletovyj-purpurnyj_cvet-elektrik-1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

